.events
    .site-content
        background $white-two

    &__about
        color $black
        font-weight bold
        margin-top 50px
        text-align center

        &-text
            margin-bottom 40px
            text-transform uppercase

    &__container
        padding 0 0 80px

.cards-list--events
    margin-bottom 50px

