.restricted-area
    $indexes-height = 70px
    $indexes-height-md = 105px
    $indexes-height-lg = 94px
    $indexes-margin-bottom = 50px
    $indexes-margin-bottom-md = 10px
    $indexes-margin-bottom-lg = 20px

    &__header
        margin-bottom 30px
        text-align right

    .site-content
        transition padding $transition-default

        ~/.no-hero ^[-1..1]
            padding-top $sm-nav-height + $indexes-height + $indexes-margin-bottom

            @media screen and ( min-width $screen-md )
                padding-top $sm-nav-height + $indexes-height + $indexes-margin-bottom-md

            @media screen and ( min-width $nav-breakpoint )
                padding-top $sm-nav-height-breakpoint + $indexes-height + $indexes-margin-bottom-md

            @media screen and ( min-width $screen-lg )
                padding-top $sm-nav-height-breakpoint + $indexes-height-lg + $indexes-margin-bottom-lg

        ~/.sticky ^[-1..1]
            padding-top $sm-nav-height-sticky + $indexes-height + $indexes-margin-bottom

            @media screen and ( min-width $screen-md )
                padding-top $sm-nav-height-sticky + $indexes-height + $indexes-margin-bottom-md

            @media screen and ( min-width $nav-breakpoint )
                padding-top $$sm-nav-height-sticky + $indexes-height + $indexes-margin-bottom-md

            @media screen and ( min-width $screen-lg )
                padding-top $sm-nav-height-sticky + $indexes-height-lg + $indexes-margin-bottom-lg
