.services
    &__header
        position relative
        margin-bottom 40px

        &::after
            background $dusky-blue
            content ""
            height 3px
            left 0
            top 50%
            position absolute
            transform translateY( -50% )
            width 100%

        &-image
            background $white
            margin 0 auto
            padding 10px
            position relative
            width 145px
            z-index 10