.services
    .site-content
        background $white-two

    &__container
        margin-bottom 80px

.single-service
    .site-content
        padding-top 'calc( 55px + %s )' % $sm-nav-height-breakpoint

    &__header
        position relative

        &::after
            background $dusky-blue
            content ''
            height 3px
            left 0
            position absolute
            top 50%
            width 100%

        &-image
            background $white
            display block
            height auto
            margin 0 auto
            padding 0 10px
            position relative
            width 149px
            z-index 10

    &__title
        color $black-light
        font-size 30px
        font-weight 100
        margin 40px 40px 60px
        text-align center
        text-transform uppercase
