.cards-list
    &__wrapper
        display flex
        flex-wrap wrap
        justify-content center
        margin 0 auto
        max-width 400px
        width 100%

        @media screen and ( min-width $screen-md )
            justify-content flex-start
            max-width 800px

        @media screen and ( min-width $screen-lg )
            max-width 100%

.card
    margin 0 auto 10px
    max-width 400px
    padding $card-box-padding-above $card-box-padding-aside
    text-decoration none
    width 100%

    @media screen and ( min-width $screen-sm )
        height 325px

    @media screen and ( min-width $screen-md )
        margin 0 10px 10px 0
        width calc( 50% - 10px )

        &:nth-child( 2n )
            margin-right 0

    @media screen and ( min-width $screen-lg )
        width calc( 33.33% - 10px )

        &:nth-child( 2n )
            margin-right 10px

        &:nth-child( 3n + 0 )
            margin-right 0

    /**
     * BLOCKS
     */

    &__header
        align-items flex-start
        display flex
        justify-content space-between
        margin-bottom 20px
        min-height 64px

    &__thumbnail
        max-height 64px

        img
            max-height 64px
            max-width 100%
            width auto

    &__title
        font-size 18px
        margin 0

    &__content
        color $brownish-grey

        p
            margin-top 0

        a
            color $blue-gray

    &__wrapper
        display flex
        flex-direction column
        height 100%

    &__footer
        margin-top auto

    &__button
        background $blue-gray
        color $white
        line-height normal
        padding 1px 2px
        position relative
        text-decoration none

    /**
     * MODIFIERS
     */

    &--white
        background $white
