.event
    $box-padding = 25px

    &--container
        background $white
        color $black
        font-weight bold
        height 100%
        padding $box-padding
        position relative
        text-transform uppercase

    &--date
        left $box-padding
        max-width 'calc( 45% - %s )' % $box-padding
        position absolute
        top $box-padding

    &--image
        height 80px
        max-width 'calc( 50% - %s )' % $box-padding
        position absolute
        right $box-padding
        top $box-padding

        img
            height auto
            max-height 100%
            max-width 100%
            width auto

    &--date
        font-size 20px

    &--content
        left $box-padding
        position absolute
        top 120px

    &--title
        font-size 16px
        letter-spacing 1px
        margin 0

    &--role
        color $dusky-blue
        font-size 12px

    &--footer
        bottom $box-padding
        font-weight 100
        left $box-padding
        position absolute
        text-transform none

    &__active
        & ^[0]--wrapper
            background $dusky-blue
            color $white

        & ^[0]--role,
        & ^[0]--footer
            color $black

    &__old
        & ^[0]--date
        & ^[0]--title,
        & ^[0]--footer
            color $gray-light-300

        & ^[0]--role
            color $tiffany
