.indexes
    $container-height = 70px

    $toggler-width    = 46px
    $toggler-height   = 36px
    $toggler-width-md = 70px

    $nav-arrow-width    = 40px
    $nav-arrow-width-md = 90px
    $nav-arrow-width-lg = $nav-arrow-width

    background $dusky-blue
    position fixed
    top $sm-nav-height
    transition top $transition-default
    width 100%
    z-index 100

    @media screen and ( min-width $nav-breakpoint )
        top $sm-nav-height-breakpoint

    @media screen and ( min-width $container-adjust )
        padding 12px 0

    /.sticky &
        top $sm-nav-height-sticky

    // Container

    &__container
        align-items center
        display flex
        flex-wrap nowrap
        height $container-height
        position relative

        a
            align-items center
            color $white
            display flex
            height $container-height
            text-decoration none

            @media screen and ( min-width $container-adjust )
                height auto

    // Nav

    &__nav
        align-items center
        background $dusky-blue
        color $white
        cursor pointer
        display flex
        font-size 2rem
        height 100%
        justify-content center
        position relative
        width $nav-arrow-width
        z-index 10

        @media screen and ( min-width $screen-md )
            width $nav-arrow-width-md

        @media screen and ( min-width $container-adjust )
            // position absolute
            width $nav-arrow-width-lg

        &--prev
            order 1

        &--next
            order 3

        &--disabled
            opacity .5

    // Swiper

    &__swiper
        &-container
            order 2

            @media screen and ( min-width $screen-md )
                width 'calc( 100vw - %s )' % $toggler-width-md

            @media screen and ( min-width $container-adjust )
                width 100%

        &-wrapper
            align-items center
            width 'calc( 100vw - %s )' % ( $nav-arrow-width * 2 )

            @media screen and ( min-width $screen-md )
                width 'calc( 100% - %s )' % ( $nav-arrow-width-md * 2 )

    // Toggler

    &__toggler
        align-items center
        background $white
        border 2px solid $dusky-blue
        border-top none
        bottom - $toggler-height
        color $dusky-blue
        cursor pointer
        display flex
        font-size .625rem
        height $toggler-height
        justify-content center
        position absolute
        right 0
        top $container-height
        transition background-color $transition-default
        width $toggler-width

        @media screen and ( min-width $screen-md )
            align-self stretch
            background $denim-blue
            border-color $denim-blue
            color $white
            flex 1 0 $toggler-width-md
            height auto
            order 4
            position static
            width auto

        @media screen and ( min-width $container-adjust )
            display none

        &--open
            background transparent
            border none
            color $white

            @media screen and ( min-width $screen-md )
                background $denim-blue

        i
            transition color $transition-default, transform $transition-default

            ^[0..-2]--open ^[2..-1] // @stylint ignore valid warning property is not valid
                transform rotate( 180deg )


    // Item

    &__item
        font-weight normal
        width 100%

        @media screen and ( min-width $container-adjust )
            border-bottom 1px solid $white
            font-weight normal
            padding-bottom 10px
            text-align center
            text-indent 0
            width auto

        &--active
            border-color $tiffany

            a
                color $tiffany


    // Select

    &__select
        max-height 0
        overflow hidden
        transition max-height $transition-default

        @media screen and ( max-width $screen-md )
            width 100%

        &--open
            max-height 'calc( 100vh - %s )' % ( $sm-nav-height + $container-height )
            overflow-y auto

            @media screen and ( min-width $container-adjust )
                display none
                width 100%

            .sticky &
                max-height 'calc( 100vh - %s )' % ( $sm-nav-height-sticky + $container-height )


        &-item
            background $denim-blue
            border-bottom 1px solid $dusky-blue
            font-size 16px

            a
                color $white
                display block
                font-size 16px
                font-weight normal
                padding 10px $nav-arrow-width
                text-decoration none

.index-section
    margin-bottom 30px
    padding-bottom 30px
    position relative

    &:after
        background $brown-grey
        bottom 0
        content ''
        height 1px
        left 50%
        position absolute
        transform translateX( -50% )
        width 245px

        @media screen and ( min-width $screen-md )
            width 570px

        @media screen and ( min-width $screen-md )
            width 870px

    &:last-child
        &:after
            display none

    &__title
        color $tiffany
        font-size 18px
        font-weight normal
        letter-spacing -.4px
        margin 0 0 30px

        @media screen and ( min-width $screen-md )
            font-size 24px
