.indexes
    background $denim-blue
    padding 30px 0

    // Container
    &__container
        position relative

    // Current

    &__current
        @media screen and ( min-width $screen-lg )
            display none

    // Nav

    &__nav
        background blue
        color $white
        cursor pointer
        font-size 2rem
        height 30px
        line-height 30px
        position absolute
        top 50%
        transform translateY( -50% )
        width 30px
        z-index 10

        &--prev
            left 0

        &--next
            right 0

        &--disabled
            opacity .5

    // Swiper
    &__swiper
        &-wrapper
            //

        &-container
            background red
            min-height 30px


    // Toggler

    &__toggler
        display none

    // Item

    &__item
        background green
        border-bottom 1px solid $white
        padding-bottom 10px
        text-align center
        width auto

        a
            color $white
            text-decoration none
