.index-section
    margin-bottom 30px
    padding-bottom 30px
    position relative

    &:after
        background $brown-grey
        bottom 0
        content ''
        height 1px
        left 50%
        position absolute
        transform translateX( -50% )
        width 245px

        @media screen and ( min-width $screen-md )
            width 570px

        @media screen and ( min-width $screen-lg )
            width 870px

    &:last-child
        &:after
            display none

    &__title
        color $tiffany
        font-size 18px
        font-weight normal
        letter-spacing -.4px
        margin 0 0 30px

        @media screen and ( min-width $screen-md )
            font-size 24px
