.index-section
	margin-bottom 60px
	position relative

	&::after
		background $brownish-grey
		bottom -30px
		content ""
		height 1px
		left 50%
		position absolute
		transform translateX(-50%)
		width 245px

	&__title
		color $tiffany
		font-size 18px
		margin 0 0 30px
		font-weight normal
