// Integration with Polylang plugin

// Menu
.main-navigation
    ul
        > .menu-item
            &.lang-item
                display inline-block

                a
                    padding-right 0

            &.current-lang
                a
                    color $red
