.card
    &--service
        height auto

        @media screen and ( min-width $screen-sm )
            height $card-height

        & ^[0]__header
            align-items center

        & ^[0]__footer
            display flex
            justify-content flex-end
            margin-top 50px

            @media screen and ( min-width $screen-sm )
                margin-top auto

        & ^[0]__title
            max-width 75%
