.card
    &--service
        & ^[0]__header
            align-items center

        & ^[0]__footer
            display flex
            justify-content flex-end

        & ^[0]__title
            max-width 75%
