@import '../variables'

#login
    padding 0 0 0

    @media screen and ( min-width $screen-sm )
        padding 3.3% 0 0

body
    font-family $body-font

#login
    max-width 323px

.login
    background $white

    label
        color $tundora

    .message
        border 2px solid $tiffany
        border-bottom none
        box-shadow none
        color $brownish-grey
        margin 50px auto 0
        padding 10px
        width 247px

    form
        box-shadow none
        margin-top 44px

    input[type='checkbox']
        &:focus
            border-color $tiffany
            box-shadow none

        &:checked
            &:before
                color $tiffany

    .submit
        .button
            font-size 13px
            height 28px
            line-height normal
            padding 0
            text-align center
            width 67px

    h1
        a
            background-image url( '/wp-content/themes/elemarjr/assets/images/logo-b.svg' )
            background-size inherit
            height 47px
            margin 50px auto 0
            width 125px

#nav a,
#backtoblog a
    color $tundora

    &:hover
        color $tiffany

#login_error // @stylint ignore namingConvention warning preferred naming convention is BEM
    border 2px solid $punch
    border-bottom none
    box-shadow none
    margin 15px auto 0
    padding 10px
    width 247px

.input
    background $white
    border 1px solid $silver
    box-shadow none

.wp-core-ui
    .button-primary
        background $tiffany
        border-color $tiffany
        border-radius 0
        box-shadow none
        text-shadow none

        &:hover
        &:focus
            background darken( $tiffany, 10% )
            border-color darken( $tiffany, 10% )
            box-shadow none

        &:active
            background darken( $tiffany, 20% )
            border-color darken( $tiffany, 10% )
