body
  .elementor-column-gap-default
    > .elementor-row
      > .elementor-column
        > .elementor-element-populated
          @media screen and ( max-width 1024px ) // @stylint ignore 'depthLimit' because it is necessary override parent theme rule
            padding-left 0 // @stylint ignore 'depthLimit' because it is necessary override parent theme rule
            padding-right 0 // @stylint ignore 'depthLimit' because it is necessary override parent theme rule
