.site-main
  .page-header
    @media ( max-width 767px )
      padding-bottom 60px
      padding-top 60px

  .centered-page-header,
  .centered-minimal-page-header,
  .page-header.background-image-page-header
    .page-header-title
      @media ( max-width 767px )
        font-size 34px
