body.single-post
  &.content-max-width
    .entry-share,
    nav.post-navigation,
    #related-posts
      @media ( min-width 1025px )
        max-width 1200px

  .entry-content
    embed,
    iframe,
    object
      display block
      margin 0 auto
      max-width 1200px
      padding 0 20px
